# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
src/main/java/com/shuishu/demo/jpa/common/utils/
src/test/
target/generated-sources/annotations/
